body {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  body {
    font: 16px sans-serif;
    margin: -0.10%;
  }

#game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    width: 400px;
    height: 730px;
    position: relative;
    border: 5px solid white;
  }
  .score{
      position: absolute;
      color: white;
      bottom: 90%;
      font-family: 'Press Start 2P', cursive;
  }
  .gameover{
    position: absolute;
    color: white;
    bottom: 50%;
    font-family: 'Press Start 2P', cursive;
    display: none;
  }
  #health{
    position: absolute;
    color: white;
    bottom: 1%;
    font-family: 'Press Start 2P', cursive;
  }
  .display-none{
    display: none;
}
.glowText{
    animation-name: glow;
    animation-duration: 1s;

}
@keyframes glow {
    from {color: white;}
    to {color: yellow;}
  }

  

  @media only screen and (min-width: 768px){
    .desktop-margins{
        margin-top: 5%;
        margin-left: 19%;
        background: blueviolet
        
    }
    .outside-game{
      margin: auto;
      position: absolute;
      padding-left: 20%;
      width: 42%;
      background: black;
    }
    .character-image{
        position: absolute;
        right: 70%;
        margin-top: 8%;
        height: 300px;
        width: 200px;
        border: 2px solid white;
        background-image: url('assets/commanderplaceholder.png');
        background-size: cover;;
    }
    .character-text{
        display: initial; 
        position: absolute;
        width: 110%;
        top: 300px;
        color: white;
        font-family: 'Press Start 2P', cursive;
        line-height: 1.5em;
    }

    .player-image{
        position: absolute;
        left: 70%;
        margin-top: 8%;
        height: 300px;
        width: 200px;
        border: 2px solid white;
        background-image: url('assets/placeholderdog.png');
        background-size: cover;
    }
    .saturate{
        filter: saturate(6000%);
        
    }
    .player-text{
        display: initial; 
        position: absolute;
        width: 110%;
        top: 300px;
        color: white;
        font-family: 'Press Start 2P', cursive;
        line-height: 1.5em;
    }
    

  }